@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
@*             <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
 *@            <img src="images/banner.png" class="center">
        </div>

        <article class="content px-4">
            @Body
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <a href="http://www.finra.org/" class="btn btn-danger btn-lg" target="_blank">FINRA</a>
                    <a href="https://www.sipc.org/" class="btn btn-primary btn-lg" target="_blank">SIPC</a>
                    <a href="http://brokercheck.finra.org/" class="btn btn-success btn-lg" target="_blank">BrokerCheck</a>
                </div>
                <div class="col-md-6">
                    <div style="font-size: 16px;">
                        <div class="pull-right">1721 Bethel Road - Columbus, OH 43220-0285 - (614) 459-6500</div>
                        <br />
                        <div class="pull-right">fax - (614) 459-6568</div>
                    </div>
                </div>
            </div>
            <hr />
            Securities offered through Registered Representatives of Cambridge Investment Research, Inc., a Broker/Dealer, Member FINRA/SIPC, to residents of:
            <br />
            AZ, CA, CO, DE, FL, GA, IA, IL, IN, KY, MT, NC, NJ, NY, OH, OR, PA, SC, TN, TX, VA, WA, WI, WV
            <br />
            Investment Advisory Services offered through Cambridge Investment Research Advisors, Inc., a Registered Investment Advisor.
            <br />
            Cambridge and Lauterbach and Eilber are not affiliated.
            <br />
            Tom Wright and Todd Weithman are Registered Representatives of Cambridge Investment Research, Inc., and Investment Advisor Representatives
            <br />
            of Cambridge Investment Research Advisors, Inc.
            @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
        </article>
    </main>
</div>
