@page "/claims-reporting"
@attribute [StreamRendering]

<PageTitle>Claims Reporting</PageTitle>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-style">
            Claims Reporting
        </div>
    </div>
    <div class="panel-body">
        <br />
        <div class="row">
            <div class="col-md-2">
                <a href="https://www.cinfin.com/" target="_blank">
                    <img class="company-logo" style="width: 150px;" src="images/companies/cincy.webp" />
                </a>
            </div>
            <div class="col-md-4">
                <div style="font-size: 16px;">
                    Cincinnati Insurance
                    <br />
                    24 Hours Claim Reporting
                    <br />
                    877-242-2544
                </div>
            </div>
            <div class="col-md-2">
                <a href="https://www.safeco.com/" target="_blank">
                    <img class="company-logo" style="width: 150px;" src="images/companies/safeco.webp" />
                </a>
            </div>
            <div class="col-md-4">
                <div style="font-size: 16px;">
                    Safeco Insurance
                    <br />
                    24 Hours Claim Reporting
                    <br />
                    800-332-3226
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <a href="https://www.progressive.com/" target="_blank">
                    <img class="company-logo" style="width: 150px;" src="images/companies/progressive.webp" />
                </a>
            </div>
            <div class="col-md-4">
                <div style="font-size: 16px;">
                    Progressive Insurance
                    <br />
                    24 Hours Claim Reporting
                    <br />
                    800-274-4499
                </div>
            </div>
            <div class="col-md-2">
                <a href="https://phly.com/" target="_blank">
                    <img class="company-logo" style="width: 150px;" src="images/companies/philly.webp" />
                </a>
            </div>
            <div class="col-md-4">
                <div style="font-size: 16px;">
                    Philadelphia Insurance
                    <br />
                    24 Hours Claim Reporting
                    <br />
                    800-765-9749
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <a href="https://www.encompassinsurance.com/" target="_blank">
                    <img class="company-logo" style="width: 150px;" src="images/companies/encompass.png" />
                </a>
            </div>
            <div class="col-md-4">
                <div style="font-size: 16px;">
                    Encompass Insurance
                    <br />
                    24 Hours Claim Reporting
                    <br />
                    800-588-7400
                </div>
            </div>
            <div class="col-md-2">
                <a href="https://www.libertymutual.com/" target="_blank">
                    <img class="company-logo" style="width: 150px;" src="images/companies/liberty.webp" />
                </a>
            </div>
            <div class="col-md-4">
                <div style="font-size: 16px;">
                    Liberty Insurance
                    <br />
                    24 Hours Claim Reporting
                    <br />
                    800-225-2467
                </div>
            </div>
        </div>
    </div>
</div>
