@page "/coverage"
@attribute [StreamRendering]

<PageTitle>Coverage</PageTitle>

<style>
    .insurance-title {
        font-size: 25px;
        color: #1C327F;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-style">
            Types of Coverage
        </div>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="insurance-title">Commercial Insurance</div>
                    <ul class="list-group">
                            <li class="list-group-item">Property</li>
                            <li class="list-group-item">General Liability</li>
                            <li class="list-group-item">Umbrella</li>
                            <li class="list-group-item">Worker's Compensation</li>
                            <li class="list-group-item">Business Income</li>
                            <li class="list-group-item">Business Auto</li>
                            <li class="list-group-item">Crime (Fidelity)</li>
                            <li class="list-group-item">Garage Keeper's Liability</li>
                            <li class="list-group-item">Builder's Risk</li>
                            <li class="list-group-item">Commercial Bonding</li>
                            <li class="list-group-item">Directors and Officers Liability</li>
                            <li class="list-group-item">Fiduciary Liability</li>
                            <li class="list-group-item">Cyber Liability</li>
                            <li class="list-group-item">Environmental Liability</li>
                            <li class="list-group-item">Products Liability</li>
                            <li class="list-group-item">Foreign Products Liability</li>
                            <li class="list-group-item">Professional Liability</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="insurance-title">Personal</div>
                    <ul class="list-group">
                            <li class="list-group-item">Homeowners</li>
                            <li class="list-group-item">Automobile</li>
                            <li class="list-group-item">Umbrella Liability</li>
                            <li class="list-group-item">Boats</li>
                            <li class="list-group-item">Motorcycles - ATV's</li>
                            <li class="list-group-item">Renters Insurance</li>
                            <li class="list-group-item">Personal Inland Marine</li>
                            <li class="list-group-item">Builders Risk for New Construction</li>
                            <li class="list-group-item">Flood - Earthquake</li>
                            <li class="list-group-item">Rental Properties</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>