@page "/expertise"
@attribute [StreamRendering]

<PageTitle>Expertise</PageTitle>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-style">
            Industry Expertise
        </div>
        <div class="panel-subheading-style">While we can serve a wide array of businesses, we offer some areas of particular expertise.</div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                        <li class="list-group-item">Non-Profit &amp; Social Services</li>
                        <li class="list-group-item">Manufacturers</li>
                        <li class="list-group-item">Contractors</li>
                        <li class="list-group-item">School Districts</li>
                        <li class="list-group-item">Dentists</li>
                        <li class="list-group-item">Athletic Organizations and Facilities</li>
                        <li class="list-group-item">Fitness and Wellness</li>
                        <li class="list-group-item"> Real Estate Owners/Property Managers</li>
                        <li class="list-group-item">Medical Facilities  &ZeroWidthSpace;</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="text-center">
                    <img style="width: 420px; height: 475px;" src="images/expertise.png">
                </div>
            </div>
        </div>

    </div>
</div>