@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-md-3 text-center" style="padding-top: 35px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="claims-reporting" class="btn btn-danger btn-lg">
                    Claims Reporting
                    <br>
                    Contact Numbers
                </a>
                <hr>
                <div style="font-size: 25px;">
                    Call us Today
                    <br>
                    (614) 459-6500
                </div>
                <hr>
                <a href="newsletter" class="btn btn-primary btn-lg">
                    Insurance
                    <br>
                    Newsletter
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="images/carousel/img6.jpg" style="padding-top: 50px;">
    </div>
    <div class="col-md-3">
        <div style="font-size: 25px;font-weight: bold;">Serving Columbus since 1868</div>
        <div>
            In March 1868, John Lauterbach, a German immigrant, formed an agency to write fire insurance and help people in the growing Columbus community protect their hard-earned assets.
            <br><br>
            Wesley Eilber joined the agency in 1886. Through the following 100 years, descendants of Lauterbach &amp; Eilber managed the agency. Today the experienced staff of Lauterbach &amp; Eilber carries on the tradition of excellence in serving the insurance needs of central Ohio.
        </div>
    </div>
</div>