@page "/newsletter"
@attribute [StreamRendering]

<PageTitle>Newsletter</PageTitle>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="images/newsletter/newsletter-current.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>


