@page "/our-team"
@attribute [StreamRendering]

<PageTitle>Our Team</PageTitle>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-style">
            Meet the L&amp;E Team
        </div>
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="images/staff/ken.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Ken Carey, CPCU, ARM</div>
                        <br>
                        <div>Ken has been with Lauterbach &amp; Eilber since 1981. He is a Worthington High School graduate as well as a graduate from The Ohio State University with a degree in Risk Management and Insurance. Ken has attained the Chartered Property Casualty Underwriter, Associate in Risk Management, and Certified School Risk Manager designations.<br><br>Among his clients are public school districts, manufacturers, contractors, and real estate developers.<br><br>Ken and wife Patti have two sons, John and Kevin. In his spare time, he is a volunteer assistant basketball coach for the Worthington Kilbourne High School boys program, and is a member of the Dublin-Worthington Rotary Club and Worthington Hills Country Club.</div>
                        <br>
                        <a href="mailto:kecarey@lepropcas.com">E-mail Ken</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="images/staff/tom.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Tom Wright, CFP®</div>
                        <br>
                        <div>Tom began his financial planning career in 1984 and joined Lauterbach &amp; Eilber in 1988, the same year he became a Certified Financial Planner™.<br><br>He is a 1982 graduate of Boston College where he played varsity ice hockey and lacrosse. He currently lives in Worthington with his wife Kelly, and they have two children.<br>Tom enjoys playing ice hockey, mountain biking, and fishing.</div>
                        <br>
                        <a href="mailto:twright@cambridgesecure.com">E-mail Tom</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="images/staff/todd.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Todd Weithman, CFP®</div>
                        <br>
                        <div>Todd was designated a Certified Financial Planner™ in 1999. He has been working for Lauterbach &amp; Eilber since 1993.<br><br>He is a 1987 Graduate of Worthington High School and a 1991 Graduate of the Ohio State University with a degree in Business Administration. He played Basketball at Otterbein College for two years.<br><br>Todd is a member of the Dublin/ Worthington Rotary club. He and his wife, Sheri, have three daughters, Lexie, Ava, and Sophia.</div>
                        <br>
                        <a href="mailto:tweithman@cambridgesecure.com">E-mail Todd</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="images/staff/kim.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Kim Michallow</div>
                        <br>
                        <div>Kim started her insurance career in 1978 in New York. She obtained her Ohio insurance license in 1981 and has worked at Lauterbach &amp; Eilber since 1985. She is an agent in the commercial lines division working on all types of commercial exposures including manufacturing risks and schools districts.<br><br>Kim grew up in upstate New York and moved to Ohio in 1980 with her husband, Tom. They live in north Sunbury and have two sons.</div>
                        <br>
                        <a href="mailto:kim@lepropcas.com">E-mail Kim</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="images/staff/deb.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Deb McCarty, CIC</div>
                        <br>
                        <div>Deb entered the insurance industry in 1978, working as a Casualty Claims Processor for an Agri-business insurance company. She first began working as an independent insurance agent in 1983 and joined Lauterbach &amp; Eilber in November 1989.<br><br>She received the Certified Insurance Counselor (CIC) designation in 1992 and has worked with several large franchise accounts.<br><br>Deb primarily works with non-profit organizations, and recognizes the unique and challenging coverage issues inherent to those types of businesses.</div>
                        <br>
                        <a href="mailto:deb@lepropcas.com">E-mail Deb</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="images/staff/kathleen.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Kathleen Rice</div>
                        <br>
                        <div>Kathleen has been with Lauterbach and Eilber Insurance Agency since 1992.<br><br>She is a licensed Customer Service Agent who is responsible personal lines of insurance such as home, auto, and umbrella liability.<br><br>Kathleen is a Bishop Watterson graduate and a graduate of Franklin University. She resides in Northwest Columbus with her family.</div>
                        <br>
                        <a href="mailto:kathleen@lepropcas.com">E-mail Kathleen</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="images/staff/jill.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Jill Hess</div>
                        <br>
                        <div>Jill has been Lauterbach &amp; Eilber’s accountant since December 1994. She is in charge of all accounting matters in regards to L&amp;E.<br><br>Jill grew up in Upper Arlington and graduated from The Ohio State University with a B.S. in Accounting in 1985. She and her husband, Frank, have a daughter and two sons.</div>
                        <br>
                        <a href="mailto:jill@lepropcas.com">E-mail Jill</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img style="max-width: 180px;" src="images/staff/angie.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Angie DeGarmo-Hackworth, Customer Service Agent</div>
                        <br>
                        <div>Angie is responsible for personal lines insurance; home, auto and umbrella liability.  Angie entered the Insurance industry after 15 years as a dental office insurance coordinator.  She holds a bachelor's degree in Technical Management and obtained her Ohio Insurance License in 2019.  She recently completed her designation of Accredited Customer Service Representative-Personal Lines through The Institutes of Risk &amp; Insurance Knowledge Group.<br><br>Angie lives in Circleville with her husband, daughter, son and two stepsons.  She enjoys all her kids' activities, playing music, and traveling, when possible.</div>
                        <br>
                        <a href="mailto:Angie@lepropcas.com">E-mail Angie</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="images/staff/sheri.webp">
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="font-size: 17px;">
                        <div>Sheri Brethel</div>
                        <br>
                        <div>Sheri has been with Lauterbach &amp; Eilber since 2014.  She is the administrative assistant to our Life, Health &amp; Financial Planning department.<br><br>Sheri grew up in Clintonville, graduated from University of Cincinnati &amp; Xavier University.  She has lived in Upper Arlington since 1996 and has a son and daughter.</div>
                        <br>
                        <a href="mailto:leadm@cambridgesecure.com">E-mail Sheri</a>
                    </div>
                </div>
            </div>
            <hr>
    </div>
</div>