@page "/about"
@attribute [StreamRendering]

<PageTitle>About L&E</PageTitle>

<style>
    .about-title {
        font-size: 25px;
        color: #1C327F;
    }
    .about-description {
        font-size: 17px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <div class="about-title">About L&E</div>
                <br />
                <div class="about-description">
                    In March 1868, John Lauterbach, a German immigrant, formed an agency to write fire insurance and help people in the growing Columbus community protect their hard-earned assets. Wesley Eilber joined the agency in 1886. Through the following 100 years, descendants of Lauterbach & Eilber managed the agency. Today the experienced staff of Lauterbach & Eilber carries on the tradition of excellence in serving the insurance needs of central Ohio.
                </div>
                <br />
                <div class="about-title">Company Philosophy</div>
                <br />
                <div class="about-description">
                    Lauterbach & Eilber is one of the oldest, independent, full-service insurance and financial services agencies in Ohio. With over 150 years of experience serving central Ohio, Lauterbach & Eilber understands the significant responsibility of protecting businesses, individuals and families.
                    <br /><br />
                    Our clients depend on us for all types of insurance coverage including: commercial property, liability, crime, bonds, group medical, individual home-auto packages, life, annuities, disability, IRA products and financial planning.
                    <br /><br />
                    Only the most responsive and professional businesses thrive for over a century. From the beginning, Lauterbach & Eilber has operated by these principles:
                </div>
                <br />
                <div class="about-title">Personal Attention</div>
                <br />
                <div class="about-description">
                    Our clients’ insurance and financial planning needs are our top priority at Lauterbach & Eilber. We work with our clients to design programs that respond to their needs. Because we know that fast, straightforward processing of claims is important, a good deal of time is spent building a solid relationship between our clients and our staff.                </div>
                <br />
                <div class="about-title">A Highly Trained, Experience Staff</div>
                <br />
                <div class="about-description">
                    The responsibility of providing protection for families and businesses demands the service of highly trained professionals. Our staff is constantly updating their knowledge of the insurance business through seminars, research and going, formal education.                </div>
                <br />
                <div class="about-title">Long-Established Insurance Companies</div>
                <br />
                <div class="about-description">
                    As an independent agency, Lauterbach & Eilber represents many insurance companies. We select top-rated companies to provide our clients with the highest quality insurance products.                </div>
                <br />
                <div class="about-title">Stability and Flexibility</div>
                <br />
                <div class="about-description">
                    Our experienced staff helps our clients understand complex insurance and risk issues.                </div>
                </div>
            <div class="col-md-3" style="padding-right: 0px;">
                <img style="width: 100%;" src="images/about.png" />
            </div>
        </div>
    </div>
</div>