@page "/companies"
@attribute [StreamRendering]

<PageTitle>Companies</PageTitle>

<style>
    .company-logo {
        max-height: 150px;
        height: 150px;
        max-width: 240px;
        width: 240px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-style">
            Companies
        </div>
    </div>
    <div class="panel-body">
            <div class="row">       
                <div class="col-md-1"></div>       
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://www.anthem.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Anthem">
                                <img class="company-logo" src="images/companies/anthem.webp" />
                            </a>
                        </div>

                </div>   
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://www.libertymutual.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Liberty Mutual">
                                <img class="company-logo" src="images/companies/liberty.webp" />
                            </a>
                        </div>
                </div>  
                <div class="col-md-1"></div>   
            </div>
            <br>
            <div class="row">       
                <div class="col-md-1"></div>       
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://www.cinfin.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cincinnati Insurance Companies">
                                <img class="company-logo" src="images/companies/cincy.webp" />
                            </a>
                        </div>

                </div>   
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://www.safeco.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Safeco">
                                <img class="company-logo" src="images/companies/safeco.webp" />
                            </a>
                        </div>
                </div>  
                <div class="col-md-1"></div>   
            </div>
            <br>
            <div class="row">       
                <div class="col-md-1"></div>       
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://phly.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Philadelphia Insurance">
                                <img class="company-logo" src="images/companies/philly.webp" />
                            </a>
                        </div>

                </div>   
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://www.progressive.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Progressive">
                                <img class="company-logo" src="images/companies/progressive.webp" />
                            </a>
                        </div>
                </div>  
                <div class="col-md-1"></div>   
            </div>
            <br>
            <div class="row">       
                <div class="col-md-1"></div>       
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://www.medmutual.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Medical Mutual">
                                <img class="company-logo" src="images/companies/medical-mutual.webp" />
                            </a>
                        </div>

                </div>   
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://www.uhc.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="United Health Care">
                                <img class="company-logo" src="images/companies/united-health-care.webp" />
                            </a>
                        </div>
                </div>  
                <div class="col-md-1"></div>   
            </div>
            <br>
            <div class="row">       
                <div class="col-md-1"></div>       
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://camlife.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cambridge">
                                <img class="company-logo" src="images/companies/cambridge.png" />
                            </a>
                        </div>

                </div>   
                <div class="col-md-5">
                        <div class="text-center">
                            <a href="https://www.capitalgroup.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Capital Group / American Funds">
                                <img class="company-logo" src="images/companies/american-funds.webp" />
                            </a>
                        </div>
                </div>  
                <div class="col-md-1"></div>   
            </div>
            <br>
            <div class="row">     
                <div class="col-md-5">
                        <div class="well text-center" style="font-size: 20px;">
                            Numerous additional<br>underwriting relationships<br>through industry<br>intermediaries.
                        </div>
                </div>  
                <div class="col-md-1"></div>   
            </div>
            <br>
            </div>
</div>