@page "/contact"
@attribute [StreamRendering]

<PageTitle>Contact</PageTitle>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-style">
            Contact L&amp;E
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <img src="images/contact.png">
                <br><br>
                <div style="font-size: 18px;">                    
                    1721 Bethel Road
                    <br>
                    Columbus, OH 43220-0285
                    <br>
                    Phone: (614) 459-6500
                </div>
            </div>
            <div class="col-md-7" id="col-map">
                <div class="pull-right">
@*                 <div id="map" style="width:400px; height:400px;"></div>
 *@                <img style="border: black solid 5px; width: 500px;" src="images/contact-map.png">
                </div>
            </div>
        </div>
    </div>
</div>