@page "/"

<PageTitle>Home</PageTitle>

<style>
    .splide__slide img {
      width: 100%;
      height: auto;
    }
</style>

<div class="row">
    <div class="col-md-3 text-center" style="padding-top: 35px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="claims-reporting" class="btn btn-danger btn-lg">
                    Claims Reporting
                    <br>
                    Contact Numbers
                </a>
                <hr>
                <div style="font-size: 25px;">
                    Call us Today
                    <br>
                    (614) 459-6500
                </div>
                <hr>
                <a href="newsletter" class="btn btn-primary btn-lg">
                    Insurance
                    <br>
                    Newsletter
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
@*         
 *@        <section id="image-carousel" class="splide" style="padding-top: 50px;" data-splide='{"type":"loop"}'>
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="images/carousel/img1.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/carousel/img2.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/carousel/img3.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/carousel/img4.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/carousel/img5.jpg" alt="">
			</li>
			<li class="splide__slide">
				<img src="images/carousel/img6.jpg" alt="">
			</li>
		</ul>
  </div>
</section>
    </div>
    <div class="col-md-3">
        <div style="font-size: 25px;font-weight: bold;">Serving Columbus since 1868</div>
        <div>
            In March 1868, John Lauterbach, a German immigrant, formed an agency to write fire insurance and help people in the growing Columbus community protect their hard-earned assets.
            <br><br>
            Wesley Eilber joined the agency in 1886. Through the following 100 years, descendants of Lauterbach &amp; Eilber managed the agency. Today the experienced staff of Lauterbach &amp; Eilber carries on the tradition of excellence in serving the insurance needs of central Ohio.
        </div>
    </div>
</div>

<script>
  new Splide( '#image-carousel' ).mount();
</script>