@* @page "/state-coverage"
@attribute [StreamRendering]

<PageTitle>State Coverage</PageTitle>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-style">
            State Coverage
        </div>
    </div>
    <div class="panel-body">
        <div class="text-center">
            <div class="row">
                <div class="col-md-12">
                    <img src="images/amCharts.png" />
                    <!--
                        https://www.amcharts.com/visited_states/index.php#US-AK,US-AL,US-CA,US-CO,US-DE,US-FL,US-GA,US-IA,US-IL,US-IN,US-KY,US-MT,US-NC,US-NY,US-OH,US-OR,US-PA,US-SC,US-TN,US-TX,US-UT,US-VA,US-WA,US-WV
                        Visited states: #fd5c63
                    -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item">Alaska</li>
                        <li class="list-group-item">Alabama</li>
                        <li class="list-group-item">California</li>
                        <li class="list-group-item">Colorado</li>
                        <li class="list-group-item">Delaware</li>
                        <li class="list-group-item">Florida</li>
                        <li class="list-group-item">Georgia</li>
                        <li class="list-group-item">Iowa</li>
                        <li class="list-group-item">Illinois</li>
                        <li class="list-group-item">Indiana</li>
                        <li class="list-group-item">Kentucky</li>
                        <li class="list-group-item">Montana</li>
                        <li class="list-group-item">North Carolina</li>
                        <li class="list-group-item">New York</li>
                        <li class="list-group-item">Ohio</li>
                        <li class="list-group-item">Oregon</li>
                        <li class="list-group-item">Pennsylvania</li>
                        <li class="list-group-item">South Carolina</li>
                        <li class="list-group-item">Tennessee</li>
                        <li class="list-group-item">Texas</li>
                        <li class="list-group-item">Utah</li>
                        <li class="list-group-item">Virginia</li>
                        <li class="list-group-item">Washington</li>
                        <li class="list-group-item">West Virginia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> *@